body {
  font-size: 1.4em;
  overflow-y: scroll;
}

main {
  margin: 30px auto;
  padding: 20px;
  width: 100%;
  max-width: 600px;
}

@media all and (max-width: 800px) {
  main {
    margin: 0 auto;
  }
}

nav .brand-logo,
nav .hide-on-med-and-down {
  padding: 0 20px;
}

nav i.material-icons {
  line-height: 64px;
}

@media all and (max-width: 992px) {
  nav .brand-logo {
    left: auto;
    -webkit-transform: none;
    transform: none;
  }
  nav .button-collapse {
    float: right;
    margin: 0;
    padding: 0 20px;
  }
}

@media all and (max-width: 600px) {
  nav i.material-icons {
    line-height: 56px;
  }
}

@media all and (max-width: 700px) {
  .no-mobile {
    display: none;
  }
}


.login {
  text-align: center;
  margin-top: 30px;
}

.login .input-field {
  margin-top: 50px;
}

.join a,
.join .secondary-content {
  color: #333;
}

/* Fixing some bugs: https://github.com/react-materialize/react-materialize/issues/80 */
.join .collapsible-body {
  display: none!important;
}

.input-field {
  display: inline-block;
  width: calc(100% - 80px);
  max-width: 400px;
  margin-right: 20px;
}

input[type] {
  font-size: inherit;
}

.input-field label.active:not(.label-icon) {
  font-size: 1rem;
}





.room {
  position: fixed;
  z-index: 1;
  bottom: 100px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
    0 1px 5px 0 rgba(0,0,0,0.12),
    0 3px 1px -2px rgba(0,0,0,0.2);
  border: 1px solid #ddd;
  height: calc(100% - 200px);
  padding: 20px;
}

.room form {
  position: fixed;
  bottom: 0;
  width: calc(100% - 40px);
  max-width: 570px;
}

.room .input-field {
  max-width: 100%;
}


@media all and (max-width: 700px) {
  .room {
    top: 56px;
    left: 0;
    max-width: 100%;
    border: 0;
    box-shadow: none;
    height: calc(100% - 100px);
    width: 100%;
  }
  .room form {
    left: 20px;
    right: 20px;
  }
}

.msg.meta {
  color: #aaa;
}




/* From another site */
.loader {
  margin: 85px auto;
  text-align: center;
  animation: 2s ease-out 1 fadeIn forwards;
}

.loader > * {
  margin: 0 5px;
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  animation: 1s infinite zoom alternate, 10s 1 turnRed forwards;
}

@keyframes zoom {
  0% { transform: scale(.3); }
  50% { transform: scale(1); }
  100% { transform: scale(.3); }
}

.loading {
  text-align: center;
}

@keyframes turnRed {
  0% { background: #515EB4; }
  100% { background: red; }
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.loader > *:nth-child(1) {
  animation-delay: -.5s;
}

.loader > *:nth-child(2) {
  animation-delay: -.25s;
}

.loader > *:nth-child(3) {
  animation-delay: 0s;
}




/* BRAND */
/* color: #515EB4 */

nav,
.btn-floating {
  background: #515EB4;
}

.btn-floating:hover {
  background: #6d78c0;
}

.input-field .prefix.active {
  color: #515EB4;
}

input[type]:focus:not([readonly]) {
  border-bottom: 1px solid #515EB4;
  box-shadow: 0 1px 0 0 #515EB4;
}

input[type]:focus:not([readonly]) + label {
  color: #515EB4;
}

.waves-effect.waves-brand .waves-ripple {
  background-color: rgba(81, 94, 180, 0.5);
}
