body {
  margin: 30px auto;
  width: 100%;
  max-width: 800px;
  padding: 20px;
  font-size: 1.4em;
  overflow-y: scroll;
}

@media all and (max-width: 800px) {
  body {
    margin: 0 auto;
  }
}

.login .input-field {
  display: inline-block;
  width: calc(100% - 100px);
  max-width: 400px;
  margin-right: 20px;
}

input[type] {
  font-size: inherit;
}

.input-field label.active:not(.label-icon) {
  font-size: 1rem;
}

.actions {
  float: right;
}

.actions button {
  margin-left: 10px;
}
